  <html>
  <head>
      <script src="jquery-1.11.3.min.js"></script>

      <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>

      <script>

            $("#select").mdlselect({
    value: ["0", "1", "2", "3"],
    label: ["n/a", "Option 1", "Option 2", "Option 2"],
    fixedHeight: '10em'
  });

      </script>
  </head>
  <body>
    <div id="select-container" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="select" name="select" />
      <label class="mdl-textfield__label" for="select">Select your option</label>
    </div>
  </body>
  </html>